@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme {
  --color-green-900: #063e34;
  --color-green-600: #0c7d69;
  --color-green-200: #e0f1e8;
  --color-error-red: #d73c3c;
  --color-gray-900: #2a4144;
  --color-gray-500: #86a2a5;
}

body {
  background-color: #e0f1e8;
  font-family: "Karla", sans-serif;
}
